body{
    background-image:url("https://images.unsplash.com/photo-1597079013069-bd1681f7454f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
    background-repeat: no-repeat;
    background-size: 100vw auto;

}   

main{
    justify-content: center;
    display: flex;
}

header{
    text-align: center;
}
#survey-form{
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: rgb(95, 163, 61,0.8);
    padding: 2rem 1rem 2rem 1rem;
    border-radius: 0.5rem;
}

#checkboxes{
    display: flex;
    flex-direction: column;
}
