main{
    justify-content: center;
    display: flex;
}

header{
    text-align: center;
}
#survey-form{
    display: flex;
    flex-direction: column;
    width: 40vw;
}

#checkboxes{
    display: flex;
    flex-direction: column;
}
